<div class="popup-wrapper" (click)="closeModal()">
  <div class="popup-content full-screen print-view">
    <div class="popup-body" (click)="stopPropogation($event)">

      <div class="popup-close">
        <i class="fa fa-times fa-22" (click)="closeModal()" aria-hidden="true"></i>
      </div>

      <div class="title">
        <h3>{{mealPlan.name}} Grocery List</h3>
      </div>

      <div *ngIf="recipes | async as result">
        <div class="recipe-list" *ngFor="let recipe of result">
          <i class="fa fa-angle-right"></i>
          <span>({{recipe.category}}) {{recipe.name}} -
            <em>{{recipe.cookbook}} pg. {{recipe.pageNumber}}</em>
          </span>
        </div>
      </div>

      <div class="groceries">
        <div class="grocery-list-group" *ngFor="let o of groceriesByCategory | mapToIterable">
          <strong>{{o.key.replace("_", " ")}}</strong>
          <ul class="grocery-list">
            <li class='grocery-item' *ngFor="let grocery of o['value']">
              <span class='list-dot'></span>
              <span *ngIf="grocery.count > 0">{{grocery.count}}&nbsp;</span>
              <span *ngIf="grocery.weight> 0">{{grocery.weight}}{{grocery.unit}}&nbsp;</span>{{grocery.name}}
              <span *ngIf="grocery.supermarket">&nbsp;({{grocery.supermarket}})</span>
              <i *ngIf="grocery.dirty" class="fa fa-leaf"></i>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>