@import '../../../../styles/base.scss';
@import '../../../../styles/flex.scss';
@import '../../../../styles/table.scss';
.panel-style {
  @extend .panel-base;
  padding: 0;
}

.section-header {
  @extend .section-header;
}

.popup-content {
  padding: 1rem;
  &.print-view {
    justify-content: center;
    .popup-body {
      width: 80rem;
    }
  }
}

.recipe-list {
  display: flex;
  align-items: center;
  i {
    margin-right: 1rem;
  }
}

.groceries {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-top:1rem;
  .grocery-list-group {
    display:flex;
    flex-direction:column;
    width:40rem;
    margin-bottom:1rem;
    .grocery-list {
      display: flex;
      flex-direction:column;
      flex-wrap:wrap;
      .grocery-item {
        display:flex;
        margin-right: 1.5rem;
        align-items:center;
      }
      i {
        margin-left:1rem;
        color: #27ae60;
      }
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  h3 {
    margin: 0;
    padding: 0;
  }
}


.list-dot {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #000;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  margin-right:.5rem;
  background-color:#000;
}