<div class="popup-wrapper" (click)="closeModal()">
  <div class="popup-content full-screen print-view">
    <div class="popup-body" (click)="stopPropogation($event)">

      <div class="popup-close">
        <i class="fa fa-times fa-22" (click)="closeModal()" aria-hidden="true"></i>
      </div>

      <div class="title">
        <h3>{{mealPlan.name}} Grocery List</h3>
      </div>

      <div *ngIf="recipes | async as result">
        <div class="item-list" *ngFor="let recipe of result">
          <i class="fa fa-angle-right"></i>
          <span>({{recipe.category}}) {{recipe.name}} -
            <em>{{recipe.cookbook}} pg. {{recipe.pageNumber}}</em>
          </span>
        </div>
      </div>

      <div *ngFor="let o of groceriesByCategory | mapToIterable">
        <strong>{{o.key}}</strong>
        <div *ngFor="let grocery of o['value']">
          <span>{{grocery.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>