:host {
    display:flex;
    flex-direction:column;
    flex:1;
}

.summary-row {
    display:flex;
    width:100%;
    flex-direction:row;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 1px solid #ECEFF1;
    .summary-row--header {

    }
    .summary-row--item {
        display:flex;
        .summary-row--money {
            width:10rem;
        }
        .summary-row--growth {

            width: 2rem;
        }
    }
}