<div *ngIf="userSummary.length > 0">
    <div *ngFor="let displayGroup of displayGroupsOrder">
        <h4 class="section-header">{{displayGroup}}</h4>
        <div class="summary-row" *ngFor="let key of displayGroups[displayGroup]">
            <span class="summary-row--header">{{getKeyDisplay(key)}}</span>
            <div class="summary-row--item ">
                <span class="summary-row--money">{{userSummary[0][key] | currency:'USD':true:'1.0-0'}}</span>
                <span class="summary-row--growth">
                        <number-change [number]="getGrowth(key)"></number-change>
                </span>
            </div>
        </div>
    </div>
</div>