@import '../../../styles/base.scss';
.panel-style  {
    @extend .panel-base;
    padding:0;
}

.section-header {
    @extend .section-header;
}

:host {
    display:flex;
    flex-direction:row;
    width:100%;
    @extend .panel-style;
    background:#fff;
    height:20rem; 
}
