<div class="popup-wrapper" (click)="closeModal()">
    <div class="popup-content">
        <div class="popup-body" (click)="stopPropogation($event)">

            <div class="popup-close">
                <i class="fa fa-times fa-22" (click)="closeModal()" aria-hidden="true"></i>
            </div>

            <div *ngIf="recipes | async as result; else loading" class="table-body table-main-content">
                <div class="title">
                    <h3>{{mealPlan.name}}</h3>
                </div>
                <div class="modal-table">
                    <div class="table-row table-column">
                        <div class="table-row-cell flex-size-4" (click)="sort('name')">Name</div>
                        <div class="table-row-cell flex-size-3" (click)="sort('cookbook')">Cookbook</div>
                        <div class="table-row-cell flex-size-2" (click)="sort('category')">Category</div>
                        <div class="table-row-cell flex-size-1 flex-center" (click)="sort('')">Page</div>
                        <div class="table-row-cell flex-size-2 flex-center" (click)="sort('cost')">Cost</div>
                        <div class="table-row-cell flex-size-2 flex-center" (click)="sort('costOrganic')">Cost (O)</div>
                        <div class="table-row-cell flex-size-2 flex-center" (click)="sort('costSeasonal')">Cost (S)</div>
                    </div>
                    <div class="table-body table-main-content">
                        <div class="table-row" *ngFor="let recipe of result | dynamicSort:sortProperty:sortDesc">
                            <div class="table-row-cell flex-size-4">{{recipe.name}}</div>
                            <div class="table-row-cell flex-size-3">{{recipe.cookbook}}</div>
                            <div class="table-row-cell flex-size-2">{{recipe.category}}</div>
                            <div class="table-row-cell flex-size-1">{{recipe.pageNumber}}</div>
                            <div class="table-row-cell flex-size-2 flex-center">{{recipe.cost | currency:'USD':'symbol':'1.2-2'}}</div>
                            <div class="table-row-cell flex-size-2 flex-center">{{recipe.costOrganic | currency:'USD':'symbol':'1.2-2'}}</div>
                            <div class="table-row-cell flex-size-2 flex-center">{{recipe.costSeasonal | currency:'USD':'symbol':'1.2-2'}}</div>
                        </div>
                    </div>
                    <div class="table-body table-main-content">
                        <div class="table-row total">
                            <div class="table-row-cell flex-size-13">Total</div>
                            <div class="table-row-cell flex-size-2">{{mealPlan.cost | currency:'USD':'symbol':'1.2-2'}}</div>
                            <div class="table-row-cell flex-size-2">{{mealPlan.costOrganic | currency:'USD':'symbol':'1.2-2'}}</div>
                            <div class="table-row-cell flex-size-2">{{mealPlan.costSeasonal | currency:'USD':'symbol':'1.2-2'}}</div>
                        </div>
                    </div>
                </div>
                <button type="submit" *ngIf="user !== 'All'" (click)="edit(mealPlan)" class="button-full">Edit Meal Plan</button>
                <button type="submit" *ngIf="user !== 'All'" (click)="add(mealPlan)" class="button-full">Add Recipe</button>
            </div>
            <ng-template #loading>
                <loading></loading>
            </ng-template>
        </div>
    </div>