<div class="controls">
    <a [routerLink]="['../']" class="icon-container">
        <i class="fa fa-arrow-left"></i>
        <span>Back to Grocery List</span>
    </a>
</div>
<div class="panel">
    <div class="cart">
        <h4 class='section-header'>Cart</h4>
        <div *ngFor="let item of groceryCart">
            <div class="cart-item">
                <div>
                    <i class="fa fa-angle-right"></i>
                    <span *ngIf="!item.weight">{{item.quantity}}</span>
                    <span *ngIf="!item.quantity">{{item.weight}}</span>&nbsp; {{item.name}}
                </div>
                <div>${{item.cost}}</div>
            </div>
        </div>
    </div>
    <div class="console">
        <div class="register">

            <form #registerForm="ngForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="foodProduct">Product:</label>
                    <ng2-completer class="completer-limit" [(ngModel)]="model.name" name="foodProduct" #foodProduct="ngModel" [datasource]="dataService"
                        [inputClass]="'form-control'" [placeholder]="'Search food products'" [autoMatch]="true" [clearUnselected]="true"
                        [minSearchLength]="0" required></ng2-completer>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" [(ngModel)]="model.quantity" name="quantity" #quantity="ngModel">
                </div>
                <div class="form-group">
                    <label for="weight">Weight</label>
                    <input type="number" class="form-control" id="weight" [(ngModel)]="model.weight" name="weight" #weight="ngModel">
                </div>
                <div class="form-group">
                    <label for="cost">Cost</label>
                    <input type="number" class="form-control" id="cost" required [(ngModel)]="model.cost" name="cost" #cost="ngModel">
                </div>

                <button type="submit" [disabled]="!registerForm.form.valid" class="button-full">Add To Cart</button>
            </form>

        </div>
        <div class="checkout">
            <h4 class='section-header'>Checkout</h4>
            <div class="check-out--summary">
                <div>
                    <span>Total:</span>
                </div>

            </div>
            <button type="button" [disabled]="!groceryCart.length" class="button-full">Save Cart</button>
        </div>

    </div>

</div>