@import '../../../../styles/base.scss';
.panel-style  {
    @extend .panel-base;
    padding:0;
}

.section-header {
    @extend .section-header;
}

.panel {
    display:flex;
    flex-direction:row;
    width:100%;
    @extend .panel-style;
    background:#fff;
    height:80rem;
}

.controls {
    display:flex;
    flex-direction:row;
    width:100%;
    margin-bottom:$content-space;
    a {
        cursor:pointer;
    }
}


.cart {
    display:flex;
    flex:1;
    border-right:1px solid #ECEFF1;
    padding:$content-space;
    flex-direction:column;
    overflow:auto;

    .cart-items {
        width:35rem;
        margin-left: 2rem;

        border-bottom:1px solid #ECEFF1;
        .cart-item {
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:space-between;
        }
    }
    .cart-total {
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        width:35rem;
        margin-left: 2rem;
        padding-right:3rem;
    }
}

.console {
    display:flex;
    flex:0 0 35rem;
    flex-direction:column;
    padding:$content-space;

    .register {
        .form-group.checkbox {
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            div {
                display:flex;
                align-items:center;
            }
            input {
                margin-right:1rem;
            }
        }
    }
}

.completer-limit /deep/ .completer-dropdown {
    overflow-y: auto;
    max-height: 30rem;
  }