<div class="filter-controls">
    <div class="table-row">
        <div class="table-row-cell">Filter:</div>
    </div>
    <div class="table-body" *ngIf="categories | async as filterCategories; else loading">
        <select-icon *ngFor="let category of filterCategories" [item]="category.name" (click)="filterCategory(category)"></select-icon>
    </div>
    <ng-template #loading>
        <loading></loading>
    </ng-template>
</div>
<div class="transaction-table">
    <div *ngIf="userTransactions | async as transactions; else loading">
        <div class="table-row table-column">
            <div class="table-row-cell row-category-name" (click)="sort('categoryName')">Category</div>
            <div class="table-row-cell row-date" (click)="sort('date')">Date</div>
            <div class="table-row-cell row-description" (click)="sort('description')">Description</div>
            <div class="table-row-cell row-amount" (click)="sort('amount')">Amount</div>
        </div>
        <div class="table-body table-main-content">
            <div class="table-row" *ngFor="let transaction of transactions | transactionsSort:sortProperty:sortDesc">
                <div class="table-row-cell row-category-name">{{transaction.categoryName}}</div>
                <div class="table-row-cell row-date">{{transaction.date | date:'MMM d'}}</div>
                <div class="table-row-cell row-description">{{transaction.description}}</div>
                <div class="table-row-cell row-amount">{{transaction.amount| currency:'USD':true:'1.0-0'}}</div>
            </div>
        </div>
        <ng-template #loading>
            <loading></loading>
        </ng-template>
    </div>
</div>