@import '../../../../styles/base.scss';
.panel-style  {
    padding:0;
}

.section-header {
    @extend .section-header;
}

:host {
    display:flex;
    flex-direction:row;
    background:#fff;
    flex:1;
}

/deep/ .line {
    // stroke: $primary-color;
    stroke-width: 1.5;
    fill:none;
}