@import '../../../../styles/base.scss';
.panel-style  {
    @extend .panel-base;
    padding:0;
}

.section-header {
    @extend .section-header;
}

:host {
    display:flex;
    flex-direction:row;
    width:100%;
    @extend .panel-style;
    background:#fff;
    height:22rem; 
}

/deep/ .line {
    // stroke: $primary-color;
    stroke-width: 1.5;
    fill:none;
}