@import '../../../../../styles/base.scss';
.section-header {
  @extend .section-header;
}

.panel {
  @extend .panel-base;
  padding: 0;
  height: 80rem;
}

.controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: $content-space;
  a {
    cursor: pointer;
  }
}

.cart {
  display: flex;
  flex: 1;
  border-right: 1px solid #ECEFF1;
  padding: $content-space;
  flex-direction: column;
  overflow: auto;
  .cart-items {
    width: 45rem;
    margin-left: 2rem;
    border-bottom: 1px solid #ECEFF1;
    .cart-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  .cart-total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 45rem;
    margin-left: 1.5rem;
    padding-right: 4.5rem;
  }
}

.console {
  display: flex;
  flex: 0 0 35rem;
  flex-direction: column;
  padding: $content-space;
}
