<message *ngIf="error" [messageText]="error" messageType="error" class="form-error"></message>
<form #registerForm="ngForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="model.date" name="date" #date="ngModel" required>
    </div>
    <div class="form-group">
        <label for="supermarket">Supermarket:</label>
        <ng2-completer class="completer-limit" [(ngModel)]="model.supermarket" name="supermarkets" #supermarket="ngModel" [datasource]="supermarketsService"
            [inputClass]="'form-control'" [placeholder]="'Search Supermarkets'" [autoMatch]="false" [clearUnselected]="false"
            [minSearchLength]="0" required></ng2-completer>
    </div>
    <div class="form-group">
        <label for="foodProduct">Product:</label>
        <ng2-completer class="completer-limit" (blur)="onProductSelect()" [(ngModel)]="model.name" name="foodProduct" #foodProduct="ngModel"
            [datasource]="foodProductsService" [inputClass]="'form-control'" [placeholder]="'Search Food Products'" [autoMatch]="true"
            [clearUnselected]="true" [minSearchLength]="0" required #foodProduct></ng2-completer>
    </div>
    <div class="form-group">
        <label for="count">Count</label>
        <input type="number" class="form-control" id="count" [(ngModel)]="model.count" name="count" #count="ngModel">
    </div>
    <div class="form-group">
        <label for="weight">Weight</label>
        <!-- appending -->
        <div class="input-addon">
            <input type="number" class="form-control input-addon-field" id="weight" [(ngModel)]="model.weight" name="weight" #weight="ngModel">
            <span class="input-addon-item">
                <span>{{model.unit}}</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="amount">Cost</label>
        <div class="input-addon">
            <span class="input-addon-item">
                <span>$</span>
            </span>
            <input type="number" class="form-control" id="amount" required [(ngModel)]="model.amount" name="amount" #amount="ngModel">
        </div>
    </div>
    <div class="form-group checkbox">
        <div>
            <input type="checkbox" name="organic" (change)="model.organic = $event.target.checked ? 'Yes' : 'No'" [checked]="model.organic == 'Yes'">
            <label>Organic</label>
        </div>
        <div>
            <input type="checkbox" name="seasonal" (change)="model.seasonal = $event.target.checked ? 'Yes' : 'No'" [checked]="model.seasonal == 'Yes'">
            <label>Seasonal</label>
        </div>
    </div>
    <button type="submit" [disabled]="!registerForm.form.valid" class="button-full">{{submitLabel}}</button>
</form>
<button type="submit" *ngIf="model.id" (click)="delete()" class="button-full delete">Delete</button>