<div class="popup-wrapper" (click)="closeModal()">
  <div class="popup-content full-screen print-view">
    <div class="popup-body" (click)="stopPropogation($event)">

      <div *ngIf="recipes | async as result else loading">
        <div class="recipe-list" *ngFor="let recipe of result">
          <i class="fa fa-angle-right"></i>
          <span>({{recipe.category}}) {{recipe.count}}x {{recipe.name}} -
            <em>{{recipe.cookbook}} pg. {{recipe.pageNumber}}</em>
          </span>
        </div>
      </div>
      <ng-template #loading>
        <loading></loading>
      </ng-template>

      <div class="groceries" *ngIf="groceriesByCategory">
        <div class="grocery-list-group" *ngFor="let o of groceriesByCategory | mapToIterable">
          <strong>{{o.key.replace("_", " ")}}</strong>
          <ul class="grocery-list">
            <li class='grocery-item' *ngFor="let grocery of o['value']">
              <span *ngIf="grocery.count > 0">{{grocery.count}}&nbsp;</span>
              <span *ngIf="grocery.weight> 0">{{grocery.weight}}{{grocery.unit}}&nbsp;</span>
              <span [ngClass]="grocery.supermarket" class="grocery-name">{{grocery.name}}</span>
              <!-- <span [ngClass]="grocery.supermarket" class="supermarket" *ngIf="grocery.supermarket">{{grocery.supermarket}}</span> -->
              <i *ngIf="grocery.dirty" class="fa fa-leaf"></i>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>