<div class="popup-wrapper" (click)="closeModal()">
  <div class="popup-content">
    <div class="popup-body" (click)="stopPropogation($event)">


      <div class="popup-close">
        <i class="fa fa-times fa-22" (click)="closeModal()" aria-hidden="true"></i>
      </div>

      <budget-form-recipe-ingredient *ngIf="(loaded || recipeIngredient)" [recipeIngredient]="recipeIngredient" [submitLabel]="label"
        (onSubmit)="onSubmit($event)" (onDelete)="onDelete($event) "></budget-form-recipe-ingredient>

    </div>
  </div>
</div>