@import '../../../styles/base.scss';
:host {
  display:flex;
  justify-content:center;
  align-items:center;
  flex:1;
  margin:5rem;
}

$spinner-color: $primary-color;


/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: $spinner-color;
}