<site-header></site-header>
<div class="login-container">
	<message *ngIf="authenticationError" [messageText]="authenticationError" messageType="error" class="login-error"></message>
	<form *ngIf="!authenticating">
		<div class="form-group">
			<label for="name">Username</label>
			<input type="text" class="form-control" #username placeholder="Enter your email" autofocus>
		</div>
		<div class="form-group">
			<label for="name">Password</label>
			<input type="password" class="form-control" #password placeholder="Enter your password">
		</div>
		<button type="submit" class="button-full" (click)="login(username.value, password.value)">
			Log In
		</button>
	</form>
	<loading *ngIf="authenticating"></loading>
</div>
<budget-about></budget-about>