$font-header: Montserrat, sans-serif;
$font-body: Lato, sans-serif;
$primary-color: rgba(230, 126, 34,1.0);
$secondary-color:  #15CD72;
$secondary-color-focus: #0CB863;
$background-shade-color:#EBEBEB;
$error-color:#e74c3c;
$error-color-focus:#c0392b;
$content-space: 1rem;
$card-shadow:0px 1px 4px 0px rgba(0,0,0,0.2);


// NAVIGATION
$nav-font-size:1.5rem;
$nav-opacity-base:.7;
$nav-opacity-hover:.9;

// SITE
$site-width:1400px;
$site-opacity-base: .9;
.section-header {
    opacity: $site-opacity-base;
}

.panel-base {
    display:flex;
    flex-direction:row;
    width:100%;
    padding:2rem;
    box-shadow: $card-shadow;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background:#fff;
}

.panel-base-container {
    display:flex;
    flex:1;
    flex-direction:column;      
    & > * {
        margin-top:1rem;
    }
    :first-child {
        margin-top:0;
    }
}


.select-nav-base {
    display:flex;
    flex-direction:column;
    font-size:$nav-font-size;
    width: 100%; 

    a {
        width:100%;
        padding:0.25em 0.75em;
        border: 1px solid rgba(147, 128, 108, 0.1);
        opacity:$nav-opacity-base;

        &:hover {
            color:#fff;
            opacity:$nav-opacity-hover;
            border:1px solid transparent;
        }
        &:focus {
            color:#fff;
            opacity:$nav-opacity-hover;
            border:1px solid transparent;
        }
    }
    .active-link {
        opacity:1;
        border:1px solid transparent;

        &:hover {
            opacity:1;
        }
        &:focus {
            opacity:1;
        }
    }
}


$link-underline: linear-gradient(to bottom, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
.link-underline {
    background-image:$link-underline;
}

/* ==========================================================================
#Icons
========================================================================== */

.icon-container {
    display:flex;
    flex-direction:row;
    align-items:center;
	font-size:$nav-font-size;

    opacity:$nav-opacity-base;

	i {
        margin-right:.5rem;
    }

    &:hover {
        opacity: $nav-opacity-hover;
    }
    &:focus {
        opacity:$nav-opacity-hover;
    }
}

.icon-error {
    color: $error-color;
}

/* ==========================================================================
#Buttons
========================================================================== */
button {
    color: white;
    background: $secondary-color;

    &:focus {
        background-color: $secondary-color-focus;
    }

    &:hover {
        background-color: $secondary-color-focus;
    }
    &:disabled{
        cursor:not-allowed;
        background:#ecf0f1;
        color:#95a5a6;
    }

    &.delete {
        background-color: $error-color;
    }
    &.delete:focus {
        background-color: $error-color-focus;
    }
    &.delete:hover {
        background-color: $error-color-focus;
    }
}

/* ==========================================================================
#Input Addons
========================================================================== */
.input-addon{
    display: flex;
}
  
.input-addon-field {
    flex: 1;
}
  
.input-addon-item {
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgba(147, 128, 108, 0.1);
    color: #666666;
    font-weight: normal;
    border: 2px solid #e7e7e7;
    height:5rem;
    width:5rem;
    margin-top:.25rem;
    span {
        padding: 0.5rem 0.75rem;
    }
}

