@import 'base.scss';
.table-body {
  font-size:1.4rem;
  min-height:10rem;
  overflow-x:auto;
}
.table-main-content {
  max-height:45rem;
}
.table-row {
  display:flex;
  flex-direction:row;
  width:100%;
  margin:0;
  border-bottom: 1px solid #ECEFF1;
  align-items:center;
  min-height:auto;
}
.table-summary {
  display:flex;
  height:5rem;
  border-top: 1px solid #ECEFF1;
  align-items:center;
  font-weight:700;
  color:rgba(0,0,0,0.7);
}

.table-header {
  font-weight:700;
  margin-bottom:2rem;
}
.table-column {
  background:$background-shade-color;
  color:rgba(0,0,0,0.7);
  font-weight:700;
  cursor:pointer;
}

.table-row-cell {
  display:flex;
  padding: 6px 10px;
}

