<div class="form-wrapper" (click)="closeRecipe()">
  <div class="form-content">
    <div class="form-body" (click)="stopPropogation($event)">
      <div class="form-close">
        <i class="fa fa-times fa-22" (click)="closeRecipe()" aria-hidden="true"></i>
      </div>
      <h3>{{recipe}}</h3>
      <ul class="ingredient-list">
        <li class="ingredient-item" *ngFor="let ingredient of ingredients">
          <i class="fa fa-angle-right" aria-hidden="true"></i> {{ingredient.measurement}} {{ingredient.name}} - {{ingredient.cost
          | currency:'USD':true:'1.2-2'}}, Organic: {{ingredient.costOrganic | currency:'USD':true:'1.2-2'}}, Seasonal: {{ingredient.costSeasonal
          | currency:'USD':true:'1.2-2'}}
          <li>
      </ul>
    </div>
  </div>
</div>