<form #registerForm="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="recipe">Recipe:</label>
    <ng2-completer class="completer-limit" [(ngModel)]="model.recipe" name="recipes" #recipe="ngModel" [datasource]="recipeService"
      [inputClass]="'form-control'" [placeholder]="'Search Recipes'" [autoMatch]="false" [clearUnselected]="false" [minSearchLength]="0"
      required></ng2-completer>
  </div>
  <div class="form-group">
    <label for="foodProduct">Recipe:</label>
    <ng2-completer class="completer-limit" (blur)="onProductSelect()" [(ngModel)]="model.name" name="foodProduct" #foodProduct="ngModel"
      [datasource]="foodProductsService" [inputClass]="'form-control'" [placeholder]="'Search Food Products'" [autoMatch]="true"
      [clearUnselected]="true" [minSearchLength]="0" required #foodProduct></ng2-completer>
  </div>
  <div class="form-group">
    <label for="count">Count:</label>
    <input type="number" class="form-control" id="count" [(ngModel)]="model.count" name="count" #count="ngModel">
  </div>
  <div class="form-group">
    <label for="weight">Weight:</label>
    <!-- appending -->
    <div class="input-addon">
      <input type="number" class="form-control input-addon-field" id="weight" [(ngModel)]="model.weight" name="weight" #weight="ngModel">
      <span class="input-addon-item">
        <span>{{model.unit}}</span>
      </span>
    </div>
  </div>
  <em *ngIf="ingredientMeasurement">{{ingredientMeasurement}}</em>
  <div class="form-group">
    <label for="count">Measurement:</label>
    <input type="text" class="form-control" id="measurement" [(ngModel)]="model.measurement" name="measurement" #measurement="ngModel"
      required>
  </div>
  <button type="submit" [disabled]="!registerForm.form.valid" class="button-full">{{submitLabel}}</button>
</form>
<button type="submit" *ngIf="model.id" (click)="delete()" class="button-full delete">Delete</button>