@import '../../../../styles/base.scss';
@import '../../../../styles/flex.scss';
@import '../../../../styles/table.scss';
.panel-style  {
    @extend .panel-base;
    padding:0;
}

.section-header {
    @extend .section-header;
}

:host {
    display:flex;
    flex-direction:row;
    width:100%;
    @extend .panel-style;
    background:#fff;
    height:75rem;
}
.book-table {
  display:flex;
  flex-direction:column;
  flex:1;
}

.table-main-content {
  height:100rem;
  max-height:65rem;
}

.table-row {
    cursor:pointer;
}

budget-filter-controls .table-body{
    max-height:70rem;
}