<div *ngIf="userCategories | async | categoriesTransform: name: year as displayGroups; else loading">
  <div *ngFor="let displayGroup of displayGroupsOrder">
    <h4 class="section-header">{{displayGroup}}</h4>
    <div class="category-row" *ngFor="let category of displayGroups[displayGroup]">
      <span class="category-row--header">{{category.name}}</span>
      <div class="category-row--item ">
        <span class="category-row--money">{{category.total | currency:'USD':'symbol':'1.0-0'}}</span>
        <span class="category-row--growth">
          <number-change [number]="category.growth"></number-change>
        </span>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <loading></loading>
</ng-template>