<div class="popup-wrapper" (click)="closeModal()">
  <div class="popup-content">
    <div class="popup-body" (click)="stopPropogation($event)">

      <div class="popup-close">
        <i class="fa fa-times fa-22" (click)="closeModal()" aria-hidden="true"></i>
      </div>

      <div *ngIf="recipe | async as result; else loading">
        <div class="recipe-title">
          <h3><a class="link" *ngIf="result.url" [href]="result.url">{{result.name}}</a><span *ngIf="!result.url">{{result.name}}</span></h3>
          <div>
            <em>{{result.cookbook}}</em>
            <em *ngIf="result.pageNumber > 0">pg. {{result.pageNumber}}</em>
          </div>
        </div>
        <div class="ingredient-table">
          <div class="table-row table-column">
            <div class="table-row-cell flex-size-4" (click)="sort('name')">Ingredient</div>
            <div class="table-row-cell flex-size-2 flex-center" (click)="sort('cost')">Cost</div>
            <div class="table-row-cell flex-size-2 flex-center" (click)="sort('costOrganic')">Cost (O)</div>
            <div class="table-row-cell flex-size-2 flex-center" (click)="sort('costSeasonal')">Cost (S)</div>
            <div class="table-row-cell flex-size-1 flex-center">Edit</div>
          </div>
          <div class="table-body table-main-content">
            <div class="table-row" *ngFor="let ingredient of ingredients | dynamicSort:sortProperty:sortDesc">
              <div class="table-row-cell flex-size-4">{{ingredient.measurement}} {{ingredient.name}}</div>
              <div class="table-row-cell flex-size-2 flex-center">{{ingredient.cost | currency:'USD':'symbol':'1.2-2'}}</div>
              <div class="table-row-cell flex-size-2 flex-center">{{ingredient.costOrganic |
                currency:'USD':'symbol':'1.2-2'}}</div>
              <div class="table-row-cell flex-size-2 flex-center">{{ingredient.costSeasonal |
                currency:'USD':'symbol':'1.2-2'}}</div>
              <div class="table-row-cell flex-size-1 table-row-edit" (click)="editIngredient(ingredient)">
                <i class="fa fa-edit"></i>
              </div>
            </div>
          </div>
          <div class="table-body table-main-content">
            <div class="table-row recipe-total">
              <div class="table-row-cell flex-size-4">Total</div>
              <div class="table-row-cell flex-size-2 flex-center">{{recipeTotal | currency:'USD':'symbol':'1.2-2'}}</div>
              <div class="table-row-cell flex-size-2 flex-center">{{recipeOrganicTotal |
                currency:'USD':'symbol':'1.2-2'}}</div>
              <div class="table-row-cell flex-size-2 flex-center">{{recipeSeasonalTotal |
                currency:'USD':'symbol':'1.2-2'}}</div>
              <div class="table-row-cell flex-size-1"></div>
            </div>
          </div>
        </div>
        <button type="submit" *ngIf="user !== 'All'" (click)="edit(result)" class="button-full">Edit Recipe</button>
      </div>
      <ng-template #loading>
        <loading></loading>
      </ng-template>

    </div>
  </div>
</div>
