<div class="panel">
  <budget-filter-controls (onCategoryChange)="categoryChange()" [categories]="foodCategories"></budget-filter-controls>
  <div class="food-product-table">
    <div class="table-row table-column">
      <div class="table-row-cell flex-size-2" (click)="sort('category')">Category</div>
      <div class="table-row-cell flex-size-2" (click)="sort('name')">Name</div>
      <div class="table-row-cell flex-size-1 flex-center" (click)="sort('count')">Count</div>
      <div class="table-row-cell flex-size-1 flex-center" (click)="sort('weight')">Weight</div>
      <div class="table-row-cell flex-size-2 flex-center" (click)="sort('unitPrice')">Unit Price</div>
      <div class="table-row-cell flex-size-1 flex-center" (click)="sort('amount')">Price</div>
    </div>
    <div *ngIf="annualFoodProducts | async as foodProducts; else loading">
      <div class="table-body table-main-content">
        <a class="table-row" *ngFor="let foodProduct of foodProducts | dynamicSort:sortProperty:sortDesc" [routerLink]="[{ outlets: { list: [foodProduct.name] } }]">
          <div class="table-row-cell flex-size-2">{{foodProduct.category}}</div>
          <div class="table-row-cell flex-size-2">{{foodProduct.name}}</div>
          <div class="table-row-cell flex-size-1 flex-center">
            <span *ngIf="foodProduct.count > 0">{{foodProduct.count}}</span>
          </div>
          <div class="table-row-cell flex-size-1 flex-center">
            <span *ngIf="foodProduct.weight > 0">{{foodProduct.weight | number:'1.2-2'}} {{foodProduct.unit}}</span>
          </div>
          <div class="table-row-cell flex-size-2 flex-center">{{foodProduct.unitPrice | currency:'USD':'symbol':'1.2-2'}}</div>
          <div class="table-row-cell flex-size-1 flex-center">{{foodProduct.amount| currency:'USD':'symbol':'1.2-2'}}</div>
        </a>
      </div>
    </div>
    <ng-template #loading>
      <loading></loading>
    </ng-template>
    <div class="table-summary">
      <div class="table-row-cell flex-size-2"></div>
      <div class="table-row-cell flex-size-2"></div>
      <div class="table-row-cell flex-size-1"></div>
      <div class="table-row-cell flex-size-1"></div>
      <div class="table-row-cell flex-size-2"></div>
      <div class="table-row-cell flex-size-1 flex-center">
        <span class="link-underline">{{foodProductsTotal | currency:'USD':'symbol':'1.0-0'}}</span>
      </div>
    </div>
  </div>
</div>

<router-outlet name="list"></router-outlet>
<router-outlet name="form"></router-outlet>