<budget-panel-summary *ngIf="currentPanel == 'summary'"></budget-panel-summary>
<budget-panel-categories *ngIf="currentPanel == 'categories'"></budget-panel-categories>
<budget-panel-transactions *ngIf="currentPanel == 'transactions'"></budget-panel-transactions>
<budget-panel-expenses *ngIf="currentPanel == 'expenses'"></budget-panel-expenses>
<budget-panel-food-products *ngIf="currentPanel == 'foodProducts'"></budget-panel-food-products>
<div *ngIf="currentPanel == 'groceries'">
    <div *ngIf="currentAction == 'add'">
        <budget-panel-grocery-cart></budget-panel-grocery-cart>

    </div>
    <div *ngIf="!currentAction">
        <budget-panel-grocery-controls></budget-panel-grocery-controls>
        <budget-panel-groceries></budget-panel-groceries>
    </div>
</div>
<budget-panel-recipes *ngIf="currentPanel == 'recipes'"></budget-panel-recipes>
<budget-panel-meal-plans *ngIf="currentPanel == 'mealPlans'"></budget-panel-meal-plans>
<budget-panel-books *ngIf="currentPanel == 'books'"></budget-panel-books>
<budget-panel-chart *ngIf="!currentAction && (currentPanel == 'transactions' || currentPanel == 'groceries')"></budget-panel-chart>