<budget-panel-summary *ngIf="currentPanel == 'summary'"></budget-panel-summary>
<budget-panel-categories *ngIf="currentPanel == 'categories'"></budget-panel-categories>
<budget-panel-transactions *ngIf="currentPanel == 'transactions'"></budget-panel-transactions>
<budget-panel-chart *ngIf="currentPanel == 'transactions'"></budget-panel-chart>
<budget-panel-groceries *ngIf="currentPanel == 'groceries'"></budget-panel-groceries>
<budget-panel-recipes *ngIf="currentPanel == 'recipes'"></budget-panel-recipes>