<budget-panel-meal-plan-controls></budget-panel-meal-plan-controls>
<div class="panel">
  <div class="meal-plans-table">
    <div class="table-row table-column">
      <div class="table-row-cell flex-size-3" (click)="sort('name')">Name</div>
      <div class="table-row-cell flex-size-2 flex-center" (click)="sort('days')">Days</div>
      <div class="table-row-cell flex-size-2 flex-center" (click)="sort('cost')">Cost</div>
      <div class="table-row-cell flex-size-2 flex-center" (click)="sort('costOrganic')">Cost (O)</div>
      <div class="table-row-cell flex-size-2 flex-center" (click)="sort('costSeasonal')">Cost (S)</div>
      <div class="table-row-cell flex-size-1 flex-center">View</div>
      <div class="table-row-cell flex-size-1 flex-center">Print</div>
    </div>
    <div *ngIf="mealPlans | async as result; else loading">
      <div class="table-body table-main-content">
        <div class="table-row" *ngFor="let mealPlan of result | dynamicSort:sortProperty:sortDesc">
          <div class="table-row-cell flex-size-3">{{mealPlan.name}}</div>
          <div class="table-row-cell flex-size-2 flex-center">{{mealPlan.days}}</div>
          <div class="table-row-cell flex-size-2 flex-center">{{mealPlan.cost | currency:'USD':'symbol':'1.2-2'}}</div>
          <div class="table-row-cell flex-size-2 flex-center">{{mealPlan.costOrganic | currency:'USD':'symbol':'1.2-2'}}</div>
          <div class="table-row-cell flex-size-2 flex-center">{{mealPlan.costSeasonal | currency:'USD':'symbol':'1.2-2'}}</div>
          <a class="table-row-cell flex-size-1 flex-center" [routerLink]="[{ outlets: { mealPlan: [mealPlan.id] } }]">
            <i class="fa fa-eye"></i>
          </a>
          <a class="table-row-cell flex-size-1 flex-center" [routerLink]="['/budget/groceryList', mealPlan.id]">
            <i class="fa fa-print"></i>
          </a>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <loading></loading>
    </ng-template>
  </div>
</div>
<router-outlet name="mealPlan"></router-outlet>
<router-outlet name="groceryList"></router-outlet>