@import '../../../../styles/base.scss';
@import '../../../../styles/flex.scss';
@import '../../../../styles/table.scss';
.panel-style  {
    @extend .panel-base;
    padding:0;
}

.section-header {
    @extend .section-header;
}

.expense-card-table {
  display:flex;
  flex-direction:column;
  flex:1;
}

.expense-title {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-bottom:1rem;

    h3 {
        margin:0;
        padding:0;
    }

}

.expense-total {
    font-weight:700;
}
