<div class="popup-wrapper" (click)="closeModal()">
  <div class="popup-content">
    <div class="popup-body" (click)="stopPropogation($event)">

      <div class="popup-close">
        <i class="fa fa-times fa-22" (click)="closeModal()" aria-hidden="true"></i>
      </div>

      <div>
        <div class="grocery-title">
          <h3>{{groceryName}}</h3>
        </div>

        <div class="grocery-table">
          <div class="table-row table-column">
            <div class="table-row-cell flex-size-3" (click)="sort('supermarket')">Supermarket</div>
            <div class="table-row-cell flex-size-3" (click)="sort('name')">Count/Weight</div>
            <div class="table-row-cell flex-size-2 flex-center" (click)="sort('organic')">Organic</div>
            <div class="table-row-cell flex-size-2 flex-center" (click)="sort('seasonal')">Seasonal</div>
            <div class="table-row-cell flex-size-2 flex-center" (click)="sort('unitPrice')">Unit Price</div>
            <div class="table-row-cell flex-size-1 flex-center" (click)="sort('amount')">Cost</div>
            <div class="table-row-cell flex-size-1 flex-center">Edit</div>
          </div>
          <div *ngIf="groceries | async as result; else loading" class="table-body table-main-content">
            <div class="table-row" *ngFor="let item of result | dynamicSort:sortProperty:sortDesc">
              <div class="table-row-cell flex-size-3">{{item.supermarket}}</div>
              <div class="table-row-cell flex-size-3 flex-center" *ngIf="item.count > 0">{{item.count}}</div>
              <div class="table-row-cell flex-size-3 flex-center" *ngIf="item.weight > 0">{{item.weight | number:'1.2-2'}} {{item.unit}}</div>
              <div class="table-row-cell flex-size-2 flex-center">
                <i *ngIf="item.organic == 'Yes'" class="fa fa-check"></i>
              </div>
              <div class="table-row-cell flex-size-2 flex-center">
                <i *ngIf="item.seasonal == 'Yes'" class="fa fa-check"></i>
              </div>
              <div class="table-row-cell flex-size-2 flex-center">{{item.unitPrice | currency:'USD':'symbol':'1.2-2'}}</div>
              <div class="table-row-cell flex-size-1 flex-center">{{item.amount | currency:'USD':'symbol':'1.2-2'}}</div>
              <div class="table-row-cell flex-size-1 table-row-edit" (click)="edit(item)">
                <i class="fa fa-edit"></i>
              </div>
            </div>
          </div>
          <ng-template #loading>
            <loading></loading>
          </ng-template>
          <div class="table-body table-main-content">
            <div class="table-row grocery-total">
              <div class="table-row-cell flex-size-3">Total</div>
              <div class="table-row-cell flex-size-3"></div>
              <div class="table-row-cell flex-size-2"></div>
              <div class="table-row-cell flex-size-2"></div>
              <div class="table-row-cell flex-size-2"></div>
              <div class="table-row-cell flex-size-1">{{groceriesTotal | currency:'USD':'symbol':'1.2-2'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>