@import '../../../../styles/base.scss';

.panel-style  {
    @extend .panel-base;
}

.section-header {
    @extend .section-header;
}

:host {
    width:100%;
    @extend .panel-style;
    background:#fff;
}

.summary-row {
    display:flex;
    width:100%;
    flex-direction:row;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 1px solid #ECEFF1;

    &:last-child {
        border-bottom: none;
    }
    .summary-row--header {

    }
    .summary-row--item {
        display:flex;
        .summary-row--money {
            min-width:10rem;
        }
        .summary-row--growth {

            min-width: 7.5rem;
        }
    }
}