@import '../../../../../styles/base.scss';
@import '../../../../../styles/flex.scss';
@import '../../../../../styles/table.scss';
.section-header {
  @extend .section-header;
}

:host {
  @extend .panel-base-container;
}

.panel {
  @extend .panel-base;
  padding: 0;
  max-height: 75rem;
}

.expenses-table {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-center {
  justify-content: center;
}

.table-main-content {
  height: 100rem;
  max-height: 70rem;
}

.table-row {
  cursor: pointer;
}

.up {
  color: #088F08;
}

.down {
  color: #AE4545
}
