@import '../../../styles/base.scss';

// theme
$active-link--background: $primary-color;

.panel-style  {
    @extend .panel-base;
}
.nav-style {
    @extend .select-nav-base;
}

:host {
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    background:#fff;
    padding:0;
    margin-top:1rem;

    @extend .panel-style;
}

.year-nav {
    @extend .nav-style;
    a {
        &:hover {
            background: $active-link--background;
        }
        &:focus {
            background: $active-link--background;
        }
    }
    .active-link {
        color:#fff;
        background: $active-link--background;
    }
}
