<div class="panel-nav">

  <a [routerLink]="['summary', user, year]" [class.active-link]="isActive('summary')">Summary</a>
  <a [routerLink]="['categories', user, year]" [class.active-link]="isActive('categories')">Categories</a>
  <a [routerLink]="['transactions', user, year]" [class.active-link]="isActive('transactions')">Transactions</a>
  <a [routerLink]="['expenses', user, year]" [class.active-link]="isActive('expenses')">Expenses</a>
  <a [routerLink]="['foodProducts', user, year]" [class.active-link]="isActive('foodProducts')">Food Products</a>
  <a [routerLink]="['groceries', user, year]" [class.active-link]="isActive('groceries') || isActive('groceryCart')">Groceries</a>
  <a [routerLink]="['recipes', user, year]" [class.active-link]="isActive('recipes')">Recipes</a>
  <a [routerLink]="['mealPlans', user, year]" [class.active-link]="isActive('mealPlans')">Meal Plans</a>
  <a [routerLink]="['books', user, year]" [class.active-link]="isActive('books')">Books</a>
</div>